
bkang/resources/config.toml
**/__pycache__/
**/*.py[cod]
**/*.pyo
**/*.pyd
**/*.egg-info/
**/*.egg
**/*.whl
**/*.db


debian/.debhelper/
debian/bkang
debian/bkang.debhelper.log
debian/bkang.substvars
debian/bkang.substvars.bak
debian/bkang.postinst.debhelper
debian/bkang.prerm.debhelper
debian/bkang.substvars

build/
dist/
*.egg-info/